---
import { getCollection } from "astro:content";
import HeroCard from "./HeroCard.astro";
const { collectionName } = Astro.props
type EntryData = {
  title: string;
  learned: boolean;
  icon: string;
};
const collection = await getCollection(collectionName) as {data : EntryData}[];
---


<div class="bg-slate-900 p-5 scroll-fade sticky shadow-slate-900 shadow-lg/80 rounded-2xl">
      <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
        {collection.map((entry, index) => {
          const { title, learned, icon } = entry.data;
          return (
            <div class={`
              ${index === collection.length - 1 && collection.length % 2 !== 0 
              ? 'max-md:col-span-2 max-md:mx-auto max-md:w-1/2' 
              : ''
              }`} >
              <HeroCard title={title} learned={learned} icon={icon}/>
            </div>
          );
        })}
      </div>
</div>