---
import HeroSpacing from './HeroSpacing.astro';
import HeroContainer from './HeroContainer.astro';

---
<div class="h-screen w-full flex justify-center items-center">
  <section class="flex flex-col items-center justify-center">
    <h2 class="mb-3 text-3xl text-slate-900 font-black text-center">Lenguajes Aprendidos</h2>
    <HeroContainer collectionName="programmingLenguages"/>
  </section>
</div>
<HeroSpacing/>

